:root {
    --nav-bar-height: 7vh;
    --cream: #fdfbd4;
}

body {
    --padding: 5vw;

    margin: 0%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: 100vh;

    scroll-padding-top: var(--nav-bar-height);
}

header {
    text-align: center;
}

.nav-bar {
    overflow: hidden;
    background-color: var(--cream);
    height: var(--nav-bar-height);
    font-weight: bold;
    display: flex;
    width: 90%;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 00 00 2vh 2vh;
    position: fixed;
    border-style: solid;
    border-color: black;
    border-width: 1vh;
    border-top-width: 0;
    font-size: 2.5vh;
}

.nav-bar-item:hover {
    border-style: solid;
    border-color: black;
    padding: 0.1vh 1vh;
    border-radius: 2vh;
    border-width: 0.5vh;
    transform: scale(1.3);
}

.Spacer {
    height: var(--nav-bar-height);
}

section {
    scroll-margin-top: 10vh;
}

.Personal .Name {
    margin: 0;
    padding: 0;
}

.Contact {
    margin: 0;
    padding: 0;
}

.Section-Header {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.Section-Items {
    margin-left: 2vw;
    margin-bottom: 2vh;
}

ul {
    margin: 0;
}

table {
    width: 100%;
}

.Table-Left-Column {
    text-align: left;
}

.Table-Right-Column {
    text-align: right;
}

.inline {
    display: inline-block;
}

/* In the case below, the id selector would win over the general element selector,
since the id selector has a higher specificity score */

img {
    width: 45vh;
    height: 45vh;
    border-radius: 10%;
}

.pfp {
    margin-top: var(--nav-bar-height);
}

.Gallery-Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 2vw;
    margin: 4vh 0;
}

.Gallery-Item {
    background-color: var(--cream);
    border-style: solid;
    border-width: 0.4vh;
    border-radius: 2vh;
}

.Gallery-Item-img {
    margin-top: 5vh;
}
