:root {
    --nav-bar-height: 7vh;
}

body {
    --padding: 5vw;

    margin: 0%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: 100vh;
    
    scroll-padding-top: var(--nav-bar-height);
}

header {
    text-align: center;
}

.nav {

    overflow: hidden;
    background-color: #FDFBD4;
    height: var(--nav-bar-height);
    font-weight: bold;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 00px 00px 10px 10px;
    position: fixed;
    
}

.Personal, .Education, .Experience, .Projects, .Skills {
    scroll-margin-top: var(--nav-bar-height);
}


.Spacer {
    height: var(--nav-bar-height);
}



.Personal

.Name {
    margin: 0;
    padding: 0;
}

.Contact {
    margin: 0;
    padding: 0;
}

.Section-Header {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0; 
}

h3 {
    margin: 0;
    padding: 0; 
}

.Section-Items {
    margin-left: 20px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
}

table {
    width: 100%;
}

.Table-Left-Column {
    text-align: left;
}

.Table-Right-Column {
    text-align: right;
}

.inline {
    display: inline-block;
}

/* In the case below, the id selector would win over the general element selector,
since the id selector has a higher specificity score */

img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-top: var(--nav-bar-height);
}